<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>EmployeWebMaven</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletSessionUsingCookies</display-name>
    <servlet-name>ServletSessionUsingCookies</servlet-name>
    <servlet-class>jrout.tutorial.advance.servlet.ServletSessionUsingCookies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSessionUsingCookies</servlet-name>
    <url-pattern>/ServletSessionUsingCookies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HiddenForm</display-name>
    <servlet-name>HiddenForm</servlet-name>
    <servlet-class>jrout.tutorial.advance.servlet.HiddenForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiddenForm</servlet-name>
    <url-pattern>/HiddenForm</url-pattern>
  </servlet-mapping>
</web-app>